    .admin{
        padding: 5px 10px;
        border-radius: 30px;
        color: white;
    }
    .staff {
        background: rgb(100, 85, 230);
    }
    .member {
    background: rgb(73, 110, 172);
    }
